
body{
    background-color: aquamarine;
    color: white;
}

.click-btn{
padding: 12px;
margin: 20px;
background-color: rgb(187, 137, 137);
}
button {
    cursor: pointer;
}
.box{
    background-color: red;
    padding: 15px;

}
p{
    visibility: hidden;
}
.paragraphvisible{
    visibility: visible;
}